- content_for :page_title do
  %h1 Welcome!

- content_for :page_content do
  %h1 What is Earn It?
  
  %p Have you ever wanted to do something but was never disciplined enough to follow through with it? Ever needed a good incentive? Maybe you need incentives for others to follow through?
  
  %p Earn It is all about incentives, costs, and rewards. It is a take on the old merit and demerit system - only this time you are in control instead of someone else.
  
  %h1 How does Earn It work?
  
  %p You add items that will cost you points if you do them, you add items the will reward you if you do them, and you control the terms to what triggers them. Ever day, hour, or minute you can see where your life is based on your terms, and we even provide trending in general and in detail by items.
  
  %p All of this allows you to be able to manage your life in a way that makes sense to you.
  
  %h1 How do I get started?
  
  %p You simply click on "add a new item" and you're on your way.
  
  %h1 No registration needed!
  
  %p If you want to be able to access this information on other computers you will be given a token that represents your account. Just enter that token at the top to start where you last left off.
  
  %p There are advantages to having a regular user though. For example, you can have progress reports emailed or sms'ed to you, you don't have to remember your token to use on other computers or browsers, and you can share and discuss your goals with others on facebook or twitter.
  
  %p That's another thing, you don't need a new account. You can add your twitter or facebook accounts in your preferences and be able to log on using any of those for your Earn It user.
  
  %h1 One more thing
  
  %p Enjoy! This doesn't have to be a drudgery. Make your goals short and fun to achieve. You're thank us later. :)